{{!< default}}
{{! post template}}
{{#post}}
<article id="post" class="Container-Medium">
  <section class="body">
    {{content}}
  </section>
  <footer>
    <section class="head">
      <section class="author">
        {{#if author.image}}
          <div class="profileimage">
            <img src="{{author.image}}" />
          </div>
        {{/if}}
        <div class="name">
          <h2>by <b>{{author}}</b>,</h2>
          <p>on {{date format="MMMM DD, YYYY"}}</p>
        </div>
      </section>
      <section class="share">
        <h2><b>Share:</b></h2>
        <p>
          <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}">Twitter</a>,
           <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">facebook</a>.</p>
        </p>
      </section>
    </section>
  </footer>
</article>
{{/post}}
